.widget_row {
   -webkit-column-count: 3;
   -webkit-column-gap:   15px;
   -moz-column-count:    3;
   -moz-column-gap:      15px;
   column-count:         3;
   column-gap:           15px;

   @media only screen and (max-width: 768px){
      -webkit-column-count: 1;
      -webkit-column-gap:   15px;
      -moz-column-count:    1;
      -moz-column-gap:      15px;
      column-count:         1;
      column-gap:           15px;
   }
}

.widget{
   page-break-inside: avoid;
   margin: 0px 0px 15px 0px;
   max-width: 500px;
   height: auto;
   box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}