// colors
$primary-red: #FF5C5C;
$primary-blue: #7aebff;
$primary-orange: #ff7a51;
$primary-green: #2ee288;
$primary-yellow: #fae954;
$primary-grey: #7a7ea8;
$primary-white: #f3f3f3;

$secondary-grey: #45476d; // darker

$primary-background: #1C1C28;
$secondary-background: #28293D;